.main__filter {
	width: 200px;
	margin-right: 10px;
}
.filter__list {
	margin-top: 20px;
}
.filter__link {
	display: block;
	text-align: center;
	margin-bottom: 25px;
	font-size: 20px;
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: underline;
		color: rgb(67, 67, 67);
	}
}
@media (max-width: 900px) {
	.main__filter {
		width: 100%;
	}
	.filter__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
