.footer {
}
.footer__container {
}
.container {
}
.container__content {
	background-color: black;
	height: 70px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.content__logo {
	margin-left: 63px;
}
